@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EBF5FF;
}

h1 strong {
    font-weight: 700;
    color: #1E1983;
}

h4 strong {
    font-weight: 700;
    color: #1E1983;
}

h2 strong {
    font-weight: 700;
    color: #1E1983;
}

span strong {
    font-weight: 700;
    color: #1E1983;
    font-size: 50px;
}

button {
    font-weight: 600;
}

button.getstarted {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #0049FC;
    border: none;
    border-radius: 15px;
}

button.getstarted:hover {
    color: #fff;
    background-color: #0049FC;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 50px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    margin: 1em;
}

p.cta-content {
    color: rgba(255, 255, 255, 0.72);
}

a {
    text-decoration: none;
}